/* You can add global styles to this file, and also import other style files */

/* NgxSmartModal */
@import "~ngx-smart-modal/ngx-smart-modal.css";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */

body{
  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
}

.container {
  padding: 10px;
}