<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
    &nbsp;&nbsp;
    <div class="spinner" *ngIf="isSpinning"></div>
  </h1>
  <div class="top-bar">
    &nbsp; &nbsp;
    <div class="led-box">
      <div class="led-green" *ngIf="adb_status"></div>
      <div class="led-red" *ngIf="!adb_status"></div>
    </div>
    &nbsp; &nbsp;
    <button (click)="get_adb_status()" style="width: 120px;">{{ 'PAGES.HOME.ADBCHECK' | translate }}</button>

    &nbsp; &nbsp;
    <button [disabled]="adb_status==false" (click)="get_adb_device()"
      style="width: 120px;">{{ 'PAGES.HOME.GETDEVICE' | translate }}</button>
    &nbsp;&nbsp;
    <input [disabled]="adb_status==false || packageList==null" type="text" [(ngModel)]="searchVal" placeholder="Search Package.." class="searchinput">
    <button [disabled]="adb_status==false || packageList==null" (click)="filterPackages(searchVal)" style="width: 50px;">
      <i class="fa fa-search"></i>
    </button>
    &nbsp; &nbsp;
    <button [disabled]="adb_status==false || deviceInfo==null" (click)="get_adb_packages()"
      style="width: 150px;">{{ 'PAGES.HOME.GETPACKAGES' | translate }}</button>
  </div>
  <div style="display: flex;" *ngIf="adb_status">
    <div class="device-div">
      <h3 class="title">Device Info</h3>
      <div *ngIf="deviceInfo">
        <div class="entry"><i class="fa fa-bullseye" style="color:#ff8819"></i> ID: {{deviceInfo.id}}</div>
        <div class="entry"><i class="fa fa-microchip" style="color:#ff8819"></i> Product: {{deviceInfo.product}}</div>
        <div class="entry"><i class="fa fa-mobile" style="color:#ff8819"></i> Model: {{deviceInfo.model}} </div>
        <div class="entry" *ngIf="deviceInfo.imgurl">
          <app-phonepic [url]="deviceInfo.imgurl"></app-phonepic>
        </div>
      </div>
      <div *ngIf="deviceInfo==null">
        <div class="entry">No Device Connected!</div>
        <div class="entry">Press "Get Device"</div>
      </div>
    </div>
    <div class="packages-div">
      <h2 class="title">Package List &nbsp; 
        <span *ngIf="packageList!=null" style="color: rgba(255, 209, 182, 0.938);">
          [Showing {{filteredPackageList==null? 0 : filteredPackageList.length}} of {{packageList.length}} apps]</span>
      </h2>
      <br>
      <div class="entry" *ngIf="packageList==null">No Packages</div>
      <div class="entry" *ngIf="packageList!=null && (filteredPackageList==null || filteredPackageList.length < 1)">
        No Apps found for Search
      </div>
      <div *ngIf="filteredPackageList!=null">
        <app-package-table [packageList]="filteredPackageList"></app-package-table>
      </div>
    </div>
  </div>
  <div class="disclaimer-div" *ngIf="!adb_status">
    <h1>Make sure:</h1>
    <ol>
      <li>Developer Options Enabled.</li>
      <li>USB Debugging Enabled.</li>
      <li>Phone connected over USB.</li>
      <li>ADB Driver Installed.</li>
    </ol>
    <h1>Disclaimer:</h1>
    <h2>This Software can *BRICK* your device!</h2>
    <h3>Use it at your own risk.</h3>
    <br>
    <h4>Version: {{appVersion}}</h4>
    <h5>Powered by Electron</h5>
  </div>
</div>