.title {
    color: white;
    margin: 0;
    padding: 20px 20px;
    display: flex;
}

.top-bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
}

.spinner {
    padding: 10px;
    width: 15px;
    height: 15px;
    background-color: #eb7100;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    color: rgb(255, 255, 255) !important;
    font-weight: 750;
    text-transform: uppercase;
    background: #ff6600;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
        background: rgb(255, 143, 16);
        cursor: pointer;
        color: #ffffff !important;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s;
    }

    &:disabled {
        background: rgb(119, 64, 0);
        cursor: not-allowed;
        color: #999999 !important;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
        box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
        transition: all 0.4s ease 0s;
    }
}

.led-box {
    height: 30px;
    margin: 10px 0;
}

.led-green {
    width: 24px;
    height: 24px;
    background-color: #abff00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.led-red {
    width: 24px;
    height: 24px;
    background-color: #f00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.device-div {
    background-color: rgba(49, 49, 49, 0.801);
    border-radius: 10px;
    min-width: 280px;
    min-height: 180px;
    max-height: 450px;
    margin: 10px;
    margin-top: 20px;
    color: white;
    padding: 10px;
    float: left;
}

.packages-div {
    background-color: rgba(49, 49, 49, 0.801);
    border-radius: 10px;
    min-width: 400px;
    flex: 1;
    max-height: 300px;
    min-height: 480px;
    margin: 10px;
    margin-top: 20px;
    color: white;
    padding: 10px;
    float: right;
    overflow-y: auto;
}

.entry {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(109, 109, 109, 0.568);
}

.searchinput {
    flex: 1;
    box-sizing: border-box;
}

.disclaimer-div {
    color: white;
    padding: 30px;
}
