.package-entry {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(83, 83, 83, 0.733);
    border: 1px solid black;
}

span.circle {
    background: #010101;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #f1f1f1;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
    font-size: x-small;
    border: 5px solid blue;
}
